@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
body {
	margin: 0px 0px 0px 0px;
	box-sizing: border-box;
	font-family: "Poppins";
}
.header {
	/* background-color: rgb(245, 20, 20); */
	padding-top: 56px;
	padding-bottom: 75px;
}
.container {
	max-width: 1340px;
	margin: 0 auto;
}
.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.img__content {
	max-height: 54px;
	max-width: 106px;
}

.header__logo {
}
.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.nav__link {
	cursor: pointer;
	list-style-type: none;
	text-decoration: none;
	color: black;
	font-family: "Poppins";
	font-weight: 400;
	font-size: 20px;
	margin-right: 30px;
	border-bottom: 3px solid transparent;
}
.nav__link:hover {
	transition: all 0.5s;
	border-bottom: 3px solid#263238;
}
.nav__link:last-child {
	margin-right: 0;
}
.header__btn {
	cursor: pointer;
	background: 0%;
	border: 2px solid #263238;
	border-radius: 5px;
	padding: 0;
	width: 220px;
	height: 70px;
	font-size: 24px;

	font-weight: 400;
	text-decoration: non;
}
.header__btn:hover {
	transition: all 0.4s;
	background-color: black;
	color: white;
}

/* main--------------------------------------------- */
.main {
	background-color: rgb(255, 255, 255);
}

.main__content {
	min-width: 100%;
	display: flex;
	justify-content: space-between;
}
.wrapper__right-content {
	max-width: 50%;
}
.main__lamp-ing {
	position: absolute;
	width: 85.24px;
	height: 85.24px;
	left: 690.99px;
	top: 350px;

	transform: rotateX(20.44deg);
}
.title {
	margin-top: 40px;
	margin-bottom: 40px;
	height: 240px;
	width: 386px;

	font-family: Poppins;
	font-size: 64px;
	font-style: normal;
	font-weight: 600;
	line-height: 80px;
	letter-spacing: 0em;
	text-align: left;
}
.main__text {
	margin: 0px 0px 0px 0px;
	color: #8f95a5;
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0em;
	max-height: 108px;
	max-width: 527px;
}
.wrapper__left-content {
	max-width: 661px;
}
.main__img {
	max-width: 100%;
}
.button {
	color: white;
	background-color: #263238;
	border-style: none;
	text-decoration: none;
	margin-top: 61px;
	margin-bottom: 40px;
	padding: 32px 118px;
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 54px;
	border-radius: 15px;
}

/* skills */
.section__skills {
}
.container {
}
.skills__content {
}
.skills__title {
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 80px;
	margin: 0px 0px 0px 0px;

	padding: 103px 607px;
}
.skills__items {
	display: flex;
	flex-direction: row;
	gap: 18px;
	max-width: 100%;
}
.skills__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f5f5f5;
	border-radius: 10px;
	max-width: 435px;
	max-height: 894px;
}
.item__img {
	max-width: 390px;
	max-height: 390px;
}
.skills__img {
	max-width: 100%;
	max-height: 100%;
}
.skills__text-content {
	margin-left: 43px;
	margin-right: 43px;
}
.skills__title-content {
	margin: 0px 0px 0px 0px;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 80px;
	margin-top: 4px;
	margin-bottom: 20px;
}
.skills__text {
	margin: 0px 0px 0px 0px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	color: #8f95a5;
}
.skills__text-paragraph {
	color: #8f95a5;
}
.button {
}

.skils__btn {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	margin-top: 36px;
	margin-bottom: 92px;
	padding: 17px 64px;
	border-radius: 5px;
}
/* first */
.wrapper__1-2-3 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 18px;
}
.first__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f5f5f5;
	max-width: 434px;
	max-height: 531px;
	border-radius: 10px;
}
.item__first-img {
	max-width: 280px;
	max-height: 210px;
}
.first__img {
	max-width: 100%;
	max-height: 100%;
}
.text-content-first {
	margin: 0px 0px 0px 0px;
	margin-top: 25px;
	margin-left: 41px;
	margin-right: 41px;
}
.title-content-first {
	margin: 0px 0px 0px 0px;

	margin-bottom: 10px;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 80px;
}
.text-first {
	margin: 0px 0px 0px 0px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #8f95a5;
}

.button {
	cursor: pointer;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	margin-top: 36px;
	margin-bottom: 44px;
	padding: 17px 64px;
	border-radius: 5px;
}
.btn-first {
	/* font-size: 20px;
	padding: 15px 51px;
	border-radius: 5px; */
}

/* third */
.wrapper__third {
	max-width: 100%;
	max-height: 343px;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	gap: 100px;
	background: #f5f5f5;
	border-radius: 10px;
}
.img__third {
	max-width: 382px;
	max-height: 255px;
}
.third__img {
}
.third__content {
	margin-left: 31px;
}
.third__title {
	margin-top: 10px;
	margin-bottom: 15px;

	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 80px;
}
.third__text {
	max-width: 381px;
	max-height: 69px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;

	color: #8f95a5;
}
.button {
}
.btn-first {
}

/* about us ------------------------------------ */

.section__about-us {
}
.container {
}
.wrapper__aboutus {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}
.aboutus__text-content {
}
.title-aboutus {
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 80px;
}
.about__text {
	margin: 0px 0px 0px 0px;
	margin-bottom: 38px;

	max-width: 635px;
	max-height: 181px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #8f95a5;
}

.about__staic {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 82px;
}
.static__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.static__number {
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 80px;
}
.static__text {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #8f95a5;
}
.aboutus__wrapper-img {
	max-width: 500px;
	max-height: 500px;
}
.about__img {
	max-width: 100%;
}

/* pricing--------------------------------------------------------------- */

.section__pricing {
}
.container {
}
.skills__title {
}
.pricing__body {
	max-width: 100%;
}
.priing__row {
	display: flex;
	margin: 0 -15px;
}
.pring__column {
	padding: 0 15px;
	flex: 0 1 33.333%;
	display: flex;
}
.column__item {
	/* background-color: red; */
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	padding-bottom: 10px;
}
.column__img {
	max-width: 100%;
	margin: 0 auto;
}
.img-column {
	object-fit: contain;
	max-width: 300px;
	height: 300px;
}
.column__sub-title {
	/* flex: 1 1 auto; */
	margin-top: 20px;
	text-align: start;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 48px;
}
.column__sub-text {
	flex: 1 1 auto;
	text-align: start;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	margin-top: 19;
	margin-bottom: 29px;

	color: #8f95a5;
}
.column__price {
	padding: 0 18px;
	text-align: center;
	border-radius: 5px;
	max-width: 240px;
	max-height: 45px;
	background-color: #eeeeee;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 45px;
	/* identical to box height */

	color: #263238;
}
.column__price span {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	/* identical to box height */

	color: #546269;
}

/* contact-------------------------- */
.section__contact {
}
.container {
}
.contact__items {
	min-width: 100%;
	max-height: 430px;
	/* background-color: red; */
	padding-top: 200px;
	display: flex;
	flex-direction: row-reverse;
	gap: 80px;
	align-items: center;
}
.contact__text-content {
	max-width: 760px;
}
.contact-us__title {
	margin: 0px 0px 0px 0px;
	
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 80px;
	/* identical to box height, or 167% */

	color: #000000;
}
.contact-text {
	margin-top: 39px;
	margin-bottom: 22px;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;

	color: #8f95a5;
}
.contact__form {
	display: flex;
	flex-direction: row;
	gap: 14px	;
}
.input {
	outline: none;
	border: 1px solid #8f95a5;
	box-sizing: border-box;
	border-radius: 10px;
	width: 323px;
	height: 60px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	padding-left: 38px;
}
.form__bnt {
	text-align: center;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */

	color: #ffffff;
	background: #263238;
	width: 193px;
	height: 60px;
	border: none;
	cursor: pointer;
	box-sizing: border-box;
	border-radius: 10px;
}
.contact-img {
	width: 450px;
	height: 450px;
}	
.img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}
