@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
body {
	margin: 0px 0px 0px 0px;
	box-sizing: border-box;
	font-family: "Poppins";
}
.skilss_767-items {
	display: none;
}

.header {
	/* background-color: rgb(245, 20, 20); */
	padding-top: 56px;
	padding-bottom: 75px;
}
.container {
	max-width: 1340px;
	margin: 0 auto;
}
.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.img__content {
	max-height: 54px;
	max-width: 106px;
}

.header__logo {
}
.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.nav__link {
	cursor: pointer;
	list-style-type: none;
	text-decoration: none;
	color: black;
	font-family: "Poppins";
	font-weight: 400;
	font-size: 20px;
	margin-right: 30px;
	border-bottom: 3px solid transparent;
}
.nav__link:hover {
	transition: all 0.5s;
	border-bottom: 3px solid#263238;
}
.nav__link:last-child {
	margin-right: 0;
}
.header__btn {
	font-family: "Poppins";
	cursor: pointer;
	background: 0%;
	border: 2px solid #263238;
	border-radius: 5px;
	padding: 17px 57px;
	/* width: 220px;
	height: 70px; */
	font-size: 24px;

	font-weight: 400;
	text-decoration: non;
}
.header__btn:hover {
	transition: all 0.4s;
	background-color: black;
	color: white;
}

/* main--------------------------------------------- */
.main {
	background-color: rgb(255, 255, 255);
}

.main__content {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
}
.wrapper__right-content {
	position: relative;
	max-width: 50%;
}
.main__lamp-ing {
	position: absolute;
	width: 85px;
	height: 85px;
	left: 420.99px;
	top: 140px;

	transform: rotateX(20.44deg);
}
.title {
	margin-top: 40px;
	margin-bottom: 40px;
	height: 240px;
	width: 386px;

	font-family: Poppins;
	font-size: 64px;
	font-style: normal;
	font-weight: 600;
	line-height: 80px;
	letter-spacing: 0em;
	text-align: left;
}
.main__text {
	margin: 0px 0px 0px 0px;
	color: #8f95a5;
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0em;
	max-height: 108px;
	max-width: 527px;
}
.wrapper__left-content {
	max-width: 661px;
}
.main__img {
	max-width: 100%;
}
.button {
	font-family: "Poppins";
	color: white;
	background-color: #263238;
	border-style: none;
	text-decoration: none;
	margin-top: 61px;
	margin-bottom: 40px;
	padding: 32px 118px;
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 54px;
	border-radius: 5px;
}
.button:hover {
	/* border: 1px solid  black; */
	transition: all 0.4s;
	background-color: rgb(255, 255, 255);
	color: black;
}
/* skills */
.section__skills {
}
.container {
}
.skills__content {
}
.skills__title {
	text-align: center;
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 80px;
	margin: 0px 0px 0px 0px;

	padding: 103px 0;
}
.skills__items {
	/* justify-content: space-between; */
	display: flex;
	gap: 18px;
}
.skills__item-speaking {
	display: flex;
	flex-direction: column;
	align-items: center;

	max-width: 435px;
	background: #f5f5f5;
	border-radius: 10px;
	padding-bottom: 92px;
}
.speaking__img {
	width: 390px;
	height: 390px;
	object-fit: cover;
}
.speaking__img-img {
	object-fit: cover;
}
.speaking__text-content {
	/* display: flex;
	flex-direction: column; */
	padding: 0 30px;
}
.speaking__suptitle {
	margin: 0px 0px 0px 0px;
	margin-top: 11px;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 80px;
	/* or 267% */

	color: #263238;
}
.speaking__text {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	margin: 0px 0px 0px 0px;
	margin-top: 20px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	/* margin-bottom: 36px; */
	color: #8f95a5;
}
.speaking__text-text {
	margin: 0px 0px 0px 0px;
	margin-bottom: 10px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	color: #8f95a5;
}
.speaking__text-text2 {
	margin: 0px 0px 0px 0px;
}
.speaking__bnt {
	margin-top: 33px;
	cursor: pointer;
	display: block;
	border: none;

	padding: 17px 64px;
	background: #263238;
	border-radius: 5px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
	color: white;
}

/* first and second */

.wrapper__123 {
	max-width: 100%;
}
.speaking__first-and-second {
	display: flex;
	flex-direction: column;
	gap: 18px;
}
.items {
	display: flex;
	flex-direction: row;

	column-gap: 18px;
}
.__first {
	display: flex;
	flex-direction: column;

	padding-bottom: 20px;
	flex: 0 1 434px;
	background: #f5f5f5;
	border-radius: 10px;
}
.img__first-cont {
	margin: 0 auto;
}
.first__img {
	object-fit: contain;
	max-width: 371px;
	height: 247px;
}
.__first-content {
	margin: 0 38px;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;

	/* max-width: 366px; */
}
.__first_subtitle {
	margin: 0px 0px 0px 0px;

	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 80px;
	/* identical to box height, or 267% */

	color: #263238;
}
.s__first-subtext {
	flex: 1 1 auto;
	margin: 0px 0px 0px 0px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	/* margin-bottom: 23px; */

	color: #8f95a5;
}
.__btn {
	margin-top: 33px;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;
	color: white;
	background: #263238;
	border-radius: 5px;
	border: none;
	max-width: 218px;
	padding: 15px 51px;
}

/* third */
.wrapper__3 {
}
.third__items {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	max-width: 885px;
	background: #f5f5f5;
	border-radius: 10px;
	padding-top: 43px;
	padding-bottom: 50px;
}
.text__items {
	margin-left: 38px;
}
.third__title {
	margin: 0px 0px 0px 0px;
	max-width: 50%;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 80px;
	/* identical to box height, or 267% */

	color: #263238;
}
.third__text {
	display: flex;
	margin: 0px 0px 0px 0px;

	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;

	color: #8f95a5;
}
.__btn {
}
.third__img {
	/* max-width: 382px;
	max-width: 255px; */
	max-width: 50%;
}
.third-img {
	width: 382px;
	height: 255px;
}
/* about us ------------------------------------ */

.section__about-us {
}
.container {
}
.wrapper__aboutus {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}
.aboutus__text-content {
}
.title-aboutus {
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 80px;
}
.about__text {
	margin: 0px 0px 0px 0px;
	margin-bottom: 38px;

	max-width: 635px;
	max-height: 181px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #8f95a5;
}

.about__staic {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 82px;
}
.static__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.static__number {
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 80px;
}
.static__text {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #8f95a5;
}
.aboutus__wrapper-img {
	max-width: 500px;
	max-height: 500px;
}
.about__img {
	max-width: 100%;
}

/* pricing--------------------------------------------------------------- */

.section__pricing {
}
.container {
}
.skills__title {
}
.pricing__body {
	max-width: 100%;
}
.priing__row {
	display: flex;
	margin: 0 -15px;
}
.pring__column {
	padding: 0 15px;
	flex: 0 1 33.333%;
	display: flex;
}
.column__item {
	/* background-color: red; */
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	padding-bottom: 10px;
}
.column__img {
	max-width: 100%;
	margin: 0 auto;
}
.img-column {
	object-fit: contain;
	max-width: 300px;
	height: 300px;
}
.column__sub-title {
	/* flex: 1 1 auto; */
	margin-top: 20px;
	text-align: start;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 48px;
}
.column__sub-text {
	flex: 1 1 auto;
	text-align: start;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	margin-top: 19;
	margin-bottom: 29px;

	color: #8f95a5;
}
.column__price {
	cursor: pointer;
	padding: 0 18px;
	text-align: center;
	border-radius: 5px;
	max-width: 240px;
	max-height: 45px;
	background-color: #eeeeee;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 45px;
	/* identical to box height */

	color: #263238;
}
.column__price:hover {
	transition: all 0.4s;
	background-color: #ffffff;
	border: 1px solid #eeeeee;
}
.column__price span {
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 27px;
	/* identical to box height */

	color: #546269;
}

/* contact-------------------------- */
.section__contact {
}
.container {
}
.contact__items {
	margin-bottom: 50px;
	max-width: 100%;
	max-height: 430px;
	/* background-color: red; */
	padding-top: 200px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: center;
}
.contact__text-content {
	max-width: 50%;
}
.contact-us__title {
	margin: 0px 0px 0px 0px;

	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	line-height: 80px;
	/* identical to box height, or 167% */

	color: #000000;
}
.contact-text {
	margin-top: 39px;
	margin-bottom: 22px;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;

	color: #8f95a5;
}
.contact__form {
	display: flex;
	flex-direction: row;
	gap: 14px;
}
.input {
	font-family: "Poppins";
	outline: none;
	border: 1px solid #8f95a5;
	box-sizing: border-box;
	border-radius: 10px;
	width: 323px;
	height: 60px;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	padding-left: 38px;
}
.form__bnt {
	font-family: "Poppins";
	text-align: center;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	/* identical to box height */

	color: #ffffff;
	background: #263238;
	width: 193px;
	height: 60px;
	border: none;
	cursor: pointer;
	box-sizing: border-box;
	border-radius: 10px;
}
.form__bnt:hover {
	transition: all 0.4s;
	background-color: #fff;
	color: black;
	border: 1px solid #8f95a5;
}
.contact-img {
	width: 450px;
	height: 450px;
}
.img {
	width: 100%;
	height: 100%;
}

/* foter-------------------------------------------- */
.footer {
}
.container {
}
.footer__content {
	border-top: 1px solid #c4c4c4;
	padding-top: 32px;
	padding-bottom: 64px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.img__content {
}
.header__logo {
}
.footer__list {
	padding: 0;
	margin: 0px 0px 0px 0px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.footer__list a {
	text-decoration: none;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 36px;
	text-decoration: none;
	/* identical to box height */
	margin-left: 25px;
	color: #8f95a5;
}

.footer__list a:first-child {
	margin-left: 0px;
}
.footer__list a:hover {
	color: black;
	transition: all 0.5s;
	border-bottom: 3px solid#263238;
}

/* --------------------------------responsive */
@media screen and (max-width: 1400px) {
	.container {
		width: 1200px;
	}
	.skilss_767-items {
		display: none;
	}
	.skilss_767-items {
		display: none;
	}
	.main__lamp-ing {
		position: absolute;

		transform: rotateX(20.44deg);
	}
}

@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
		overflow-x: hidden;
	}

	/* main */
	.title {
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 52px;
		font-style: normal;
		font-weight: 600;
		line-height: 80px;
		letter-spacing: 0em;
	}
	.main__img {
		width: 460px;
		height: 460px;
	}
	.main__text {
		font-size: 20px;
	}
	.main__lamp-ing {
		position: absolute;
		width: 85px;
		height: 85px;
		left: 300.99px;
		top: 140px;

		transform: rotateX(20.44deg);
	}
	.button {
		margin-top: 51px;
		font-size: 28px;
		padding: 22px 95px;
		border-radius: 5px;
	}
	/* main */
	/* skilss */
	.skills__title {
		padding: 90px 0;
	}
	.skills__items {
		/* justify-content: space-between; */

		gap: 12px;
	}
	.speaking__img {
		width: 100%;
		height: 300px;
	}
	.speaking__img-img {
		width: 300px;
		height: 300px;
	}
	.speaking__first-and-second {
		gap: 12px;
	}
	.items {
		gap: 12px;
	}
	.skills__items {
		gap: 12px;
	}
	.third-img {
		width: 250px;
		height: 200px;
	}
	.s__first-subtext {
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
	}
	.img__first-cont {
		max-width: 300px;
		margin: 0 auto;
	}
	.first__img {
		object-fit: contain;
		max-width: 100%;
		/* height: 247px; */
	}
	.third-img {
		width: 254px;
		height: 169px;
	}

	.__btn {
		font-size: 18px;
		padding: 15px 41px;
		margin-top: 22px;
	}

	.third__text {
		margin-right: 25px;
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
	}
	/* footer */
	.contact-us__title {
		font-size: 38px;
	}
	.contact-text {
		font-size: 18px;
	}
	.footer__list a {
		font-size: 18px;
	}
}
/* 992 */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.skilss_767-items {
		display: none;
	}
	/* header */
	.header {
		/* background-color: rgb(245, 20, 20); */
		padding-top: 56px;
		padding-bottom: 65px;
	}
	.nav__link {
		margin-right: 20px;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
	}
	.img__content {
		max-width: 89px;
		height: 45px;
	}
	.header__logo {
		max-width: 100%;
	}
	.header__btn {
		font-weight: 400;
		font-size: 18px;
		line-height: 27px;
		padding: 12px 40px;
	}

	/* main */
	.title {
		margin-top: 0;
		font-weight: 600;
		font-size: 42px;
		line-height: 64px;
		height: 190px;
	}
	.main__text {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 30px;
	}
	.main__lamp-ing {
		width: 58.71px;
		height: 58.71px;
		top: 90px;
		left: 250px;
		/* position: absolute;
		width: 85px;
		height: 85px;
		left: 420.99px;
		top: 140px; */

		transform: rotateX(20.44deg);
	}
	.wrapper__left-content {
		max-width: 66%;
	}
	.main__img {
		width: 460px;
		height: 460px;
	}
	.button {
		padding: 22px 78px;
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 36px;
		/* identical to box height */
		margin-top: 40px;
		margin-bottom: 0;
		color: #ffffff;
	}

	/* skills */
	.skills__items {
		/* display: none; */
	}
	.skills__title {
		padding: 60px 0;
	}
	.skills__item-speaking {
		padding-bottom: 0;
	}
	.__first {
	}
	.speaking__img {
		width: 260px;
		height: 260px;
		object-fit: cover;
	}
	.speaking__img-img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	.__first-content {
		margin: 0 15px;
	}
	.speaking__text-content {
		padding: 0 15px;
	}
	.speaking__suptitle {
		margin-top: 0;
		font-style: normal;
		font-weight: 600;
		font-size: 22px;
		line-height: 40px;
	}
	.speaking__text {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;

		color: #8f95a5;
	}
	.speaking__text-text {
		font-size: 14px;
	}
	.speaking__bnt {
		padding: 16px 42px;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 27px;

		color: #ffffff;
	}
	/* wrapper123 */
	.speaking__first-and-second {
		gap: 12px;
	}
	.__first {
		/* padding-bottom: 10px; */
		flex: 0 1 302px;
	}
	.img__first-cont {
		margin: 0 auto;
		max-width: 243px;
		height: 205px;
	}
	.first__img {
		object-fit: contain;
		width: 100%;
		height: 100%;
	}
	.__first_subtitle {
		font-weight: 600;
		font-size: 22px;
		line-height: 50px;
		/* or 364% */

		color: #263238;
	}
	.s__first-subtext {
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
	}
	.__btn {
		margin-top: 10px;
		font-weight: 500;
		font-size: 18px;
		line-height: 27px;
		padding: 16px 42px;
	}

	/* third */
	.third__items {
		padding: 0;
		padding-bottom: 10px;
		max-width: 616px;
	}
	.text__items {
		margin-left: 10px;
		max-width: 50%;
	}
	.third__title {
		font-weight: 600;
		font-size: 22px;
		line-height: 50px;
	}
	.third__text {
		margin: 0px 0px 0px 0px;

		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
	}
	.third__img {
		width: 224px;
	}
	.third-img {
		width: 100%;
	}
	/* about us  */

	.title-aboutus {
		font-style: normal;
		font-weight: 600;
		font-size: 36px;
		line-height: 80px;
	}

	.about__text {
		margin-bottom: 0px;
		max-width: 525px;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
	}
	.static__wrapper {
	}
	.about__staic {
		align-items: center;
		gap: 82px;
	}
	.static__number {
		/* flex: 1 1 auto; */
		font-style: normal;
		font-weight: 600;
		font-size: 26px;
		line-height: 80px;
	}
	.static__text {
		flex: 1 1 auto;
		font-weight: 400;
		font-size: 14px;
		line-height: 24px;
		/* identical to box height */

		color: #8f95a5;
	}

	.aboutus__wrapper-img {
		max-width: 366px;
		max-height: 366px;
	}
	.about__img {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	/* prising */
	.priing__row {
		margin: 0 -10px;
	}
	.pring__column {
		padding: 0 10px;
	}
	.img-column {
		object-fit: contain;
		max-width: 222px;
		height: 222px;
	}
	.column__sub-title {
		margin-top: 10px;
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 34px;
	}
	.column__sub-text {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
	}
	.column__price {
		max-width: 205px;
		max-height: 45px;
		font-size: 24px;
	}
	.column__price span {
		font-size: 16px;
	}
	/* contact us */
	.contact__items {
		justify-content: flex-start;
		padding-top: 90px;
		gap: 0;
	}
	.contact__text-content {
		min-width: 50%;
	}

	.contact-us__title {
		font-weight: 600;
		font-size: 36px;
		line-height: 80px;
	}

	.contact-text {
		margin-top: 20px;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
	}

	.contact-img {
		max-width: 312px;
		max-height: 281px;
	}

	.input {
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		padding-left: 10px;
		width: 200px;
		height: 60px;
	}
	.form__bnt {
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
		padding: 10px 31px;
	}
}

/* 786 */
@media screen and (max-width: 768px) {
	.container {
		max-width: 540px;
	}
	.skills__items {
		display: none;
	}
	.header {
		padding-top: 35px;
		padding-bottom: 35px;
	}
	.main {
	}
	.nav {
		display: none;
	}
	.header__btn {
		display: none;
	}
	/* main */
	.main {
		overflow: hidden;
		/* background-color: red; */
		/* padding: 50px 0; */
	}
	.main__content {
		justify-content: space-between;
	}
	.main__lamp-ing {
		top: 50px;
		left: 210px;
		width: 50.95px;
		height: 50.95px;
	}
	.title {
		margin-bottom: 10px;
		font-style: normal;
		font-weight: 600;
		font-size: 36px;
		line-height: 45px;
		width: 217px;
		height: 135px;
	}
	.wrapper__left-content {
		width: 352px;
		height: 352px;
	}
	.main__text {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;

		color: #8f95a5;
	}

	.main__img {
		width: 352px;
		height: 345px;
	}
	.button {
		margin-top: 35px;
		font-size: 16px;
		padding: 19px 67px;
	}
	/* skills */
	.skilss_767-items {
		display: block;
		max-width: 100%;
		margin-bottom: 86px;
	}
	.speaking__colums {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;
	}
	.colunm {
		padding-bottom: 36px;
		background-color: #f5f5f5;
		display: flex;

		flex-direction: column;
		max-width: 240px;
		border-radius: 5px;
	}
	.colunms__img {
		margin: 0 auto;
		max-width: 185px;
		max-height: 185px;
	}
	.colunms__img-img {
		width: 100%;
		height: 100%;
	}
	.colums__conteny-text {
		flex: 1 0 auto;
		padding: 0 15px;
		display: flex;
		flex-direction: column;
	}
	.colums__title {
		margin: 0px 0px 0px 0px;

		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 80px;
	}
	.colums__text {
		flex: 1 1 auto;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 18px;

		color: #8f95a5;
	}
	.colums__text:nth-child(3) {
		margin-top: 0;
		margin-bottom: 15px;
		/* margin-bottom: 25px; */
	}
	.colums__text:nth-child(2) {
		margin-top: 0;

		/* margin-bottom: 25px; */
	}
	.columns__bnt {
		cursor: pointer;
		max-width: 200px;
		height: 50px;
		padding: 0;
		font-family: "Poppins";
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 21px;
		color: white;
		background: #263238;
		border-radius: 5px;
		border: none;
	}

	/* about  us */
	.wrapper__aboutus {
		justify-content: flex-start;
	}
	.aboutus__text-content {
		max-width: 321px;
	}
	.title-aboutus {
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 80px;
	}
	.about__text {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		max-width: 300px;
	}
	.about__staic {
	}
	.static__wrapper {
	}
	.static__number {
		font-style: normal;
		font-weight: 600;
		font-size: 22px;
		line-height: 80px;
	}
	.static__text {
		/* font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 20px; */
	}
	.aboutus__wrapper-img {
		width: 295px;
		height: 295px;
	}
	.about__img {
		width: 100%;
		height: 100%;
	}
	/* pricing */

	.priing__row {
		margin: 0 5px;
	}
	.pring__column {
		padding: 0 5px;
	}

	.img-column {
		margin: 0;
		width: 150px;
		height: 150px;
	}
	.column__sub-title {
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 28px;
	}
	.column__sub-text {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
	}
	.column__price {
		padding: 0 10px;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 33px;
	}
	.column__price span {
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 33px;
	}
	/* contact us */

	.contact__items {
		padding-top: 65px;
	}
	.contact__text-content {
	}
	.contact-us__title {
		font-weight: 600;
		font-size: 30px;
		line-height: 80px;
	}
	.contact-text {
		margin-top: 15px;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
	}
	.contact__form {
		display: flex;
		flex-direction: column;
	}
	.input {
		width: 260px;
		height: 50px;
	}
	.form__bnt {
		text-align: center;
		width: 260px;
		height: 50px;
	}
	.contact-img {
		max-width: 50%;
	}
	.img {
		width: 250px;
		height: 250px;
	}
	/* footer */
	.footer {
	}
	.container {
	}
	.footer__content {
		align-items: center;
	}
	.img__content {
	}
	.header__logo {
	}
	.footer-logo {
		width: 89px;
		height: 45px;
	}
	.footer__list a {
		font-weight: 400;
		font-size: 12px;
		line-height: 21px;
	}
}

/* 576 */
@media screen and (max-width: 576px) {
	.container {
		width: 90%;
	}
	.header {
		padding-bottom: 0;
	}

	.img__content {
		
	}
	.header__logo {
	}
	.fo {
	}

	.main__content {
		align-items: center;
		flex-direction: column-reverse;
	}
	.wrapper__right-content {
		display: flex;
		flex-direction: column;

		align-items: center;
		justify-content: center;
		max-width: 100%;
	}
	.title {
		width: 100%;
		height: 100%;
		font-style: normal;
		font-weight: 600;
		font-size: 28px;
		line-height: 45px;
		text-align: center;
	}
	.title br {
		display: none;
	}
	.main__lamp-ing {
		display: none;
	}
	.main__text {
		text-align: center;
	}
	.button {
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 27px;
		padding: 14px 102px;
	}
	.wrapper__left-content {
		max-width: 424px;
		height: 424px;
	}
	.main__img {
		width: 424px;
		height: 424px;
	}

	/* skills */
	.skilss_767-items {
		margin-bottom: 66px;
	}
	.container {
	}
	.skills__title {
		padding: 40px 0;
		font-weight: 600;
		font-size: 30px;
		line-height: 80px;
	}
	.speaking__colums {
		gap: 21px;
	}
	.colunm {
		max-width: 100%;
	}
	/* about us */
	.section__about-us {
		/* background-color: red; */
	}

	.wrapper__aboutus {
		flex-direction: column;
		overflow-y: hidden;
	}

	.aboutus__text-content {
		max-width: 100%;
	}
	.title-aboutus {
		margin-top: 0;
		margin-bottom: 10px;
		text-align: center;
	}
	.about__text {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		max-width: 100%;
		text-align: center;
		/* margin-bottom: 10px; */
	}
	.about__staic {
		justify-content: space-around;
		gap: 0;
	}
	.static__wrapper {
	}
	.static__number {
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 80px;
	}
	.static__text {
		font-weight: 400;
		font-size: 14px;
		line-height: 21px;
		/* identical to box height */

		color: #8f95a5;
	}
	.aboutus__wrapper-img {
		width: 352px;
		height: 352px;
	}
	.about__img {
	}
	/* pricing */

	.priing__row {
		flex-direction: column;
		align-items: center;
	}
	.pring__column {
	}
	.column__item {
		display: flex;
		align-items: center;
	}
	.column__img {
		width: 222px;
		height: 291px;
	}
	.img-column {
		width: 100%;
		height: 100%;
	}
	.column__sub-title {
		margin-bottom: 19px;
		text-align: center;
	}
	.column__sub-text {
		text-align: center;
	}
	.column__price {
	}
	/* contact us  */

	.contact__items {
		max-height: 100%;
		padding: 0;
		flex-direction: column-reverse;
	}
	.contact__text-content {
		border-top: 1px solid #c4c4c4;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 100%;
	}

	.contact-text {
		margin-bottom: 30px;
		text-align: center;
	}
	.contact__form {
	}
	.input {
	}
	.form__bnt {
	}
	.contact-img {
		display: none;
	}
	/* footer */
	.footer {
	}
	.container {
	}
	.footer__content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	/* .footer__logo{
		display: none;
	} */
	
}
@media screen and (max-width: 320px) {
	.container{
		
	}
	.button {
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 24px;
		width: 289px;
		height: 60px;
	}
	.skilss_767-items {
	}
	.container {
	}
	.speaking__colums {
		justify-content: flex-start;
		max-width: 100%;
		gap: 11px;
	}
	.colunm {
		max-width: 290px;
	}
	.colunms__img {
		width: 213px;
		height: 213px;
	}
	.colunms__img-img {
	}
	.colums__conteny-text {
	}
	.colums__title {
	}
	.colums__text {
	}
	.columns__bnt {
	}
	.wrapper__aboutus {
		overflow-x: hidden;
	}
	.footer__list {
	
		font-weight: 500;
		font-size: 11px;
		line-height: 16px;
	}
}
